/** @format */
@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  src: local("Monument Extended"),
    url("https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff")
      format("woff");
}
@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 800;
  src: local("Monument Extended"),
    url("https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff")
      format("woff");
}
@font-face {
  font-family: "Neutral Face";
  font-style: normal;
  font-weight: 400;
  src: local("Neutral Face"),
    url("../fonts/neutralface-webfont.woff") format("woff");
}
@font-face {
  font-family: "Neutral Face";
  font-style: normal;
  font-weight: 800;
  src: local("Neutral Face"),
    url("../fonts/neutralface-bold-webfont.woff") format("woff");
}

/* you can download this fonts file in description below */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-x: hidden;
  color: #e7e7e7;
}
::-webkit-scrollbar {
  display: none;
}
